@model BooksOnDoor.Models.Models.MailData

@{
    ViewData["Title"] = "Index";
}
<style>
	body {
    background: #eee;
}
</style>

<div id="contact" class="contact-area section-padding">
	<div class="container">
		<div class="section-title text-center">
			<h1>Get in Touch</h1>
			<h4>We value your feedback! Let us know if you have any suggestions or how we can improve your shopping experience.</h4>
		</div>
		<div class="row">
			<div class="col-lg-7">
				<div class="contact">
					<form class="form" asp-action="Index">
						<div class="row">
							<div class="form-group col-md-6">							
								<input asp-for="EmailToId" type="email" placeholder="Email" class="form-control" />
								<span asp-validation-for="EmailToId" class="text-danger"></span>
							</div>
							<div class="form-group col-md-6">
								<input asp-for="EmailToName" placeholder="Name" class="form-control" />
								<span asp-validation-for="EmailToName" class="text-danger"></span>
							</div>
							<div class="form-group col-md-12">
								<input asp-for="EmailSubject" placeholder="Subject" class="form-control" />
								<span asp-validation-for="EmailSubject" class="text-danger"></span>
							</div>
							<div class="form-group col-md-12">
								<textarea asp-for="EmailBody" rows="6" placeholder="Message" class="form-control"></textarea>
								<span asp-validation-for="EmailBody" class="text-danger"></span>
							</div>
							<div class="col-md-12 text-center">
								<input type="submit" class="btn btn-primary" style="border-radius:100px; width:40%;" />
							</div>
						</div>
					</form>
				</div>
			</div><!--- END COL -->
			<div class="col-lg-5">
				<div class="single_address">
					<i class="fa fa-map-marker"></i>
					<h4>Our Address</h4>
					<p>3481 Melrose Place, Beverly Hills</p>
				</div>
				<div class="single_address">
					<i class="fa fa-envelope"></i>
					<h4>Send your message</h4>
					<p>Info@example.com</p>
				</div>
				<div class="single_address">
					<i class="fa fa-phone"></i>
					<h4>Call us on</h4>
					<p>(+1) 517 397 7100</p>
				</div>
				<div class="single_address">
					<i class="fa fa-clock-o"></i>
					<h4>Work Time</h4>
					<p>Mon - Fri: 08.00 - 16.00. <br>Sat: 10.00 - 14.00</p>
				</div>
			</div><!--- END COL -->
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
}
