@model List<Product>
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                User List
            </h2>
        </div>
    </div>
    <table class="table table-bordered table-striped" id="lblData">
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
                <td>Company</td>
                <td>Role</td>
                <td></td>
            </tr>
        </thead>
        
    </table>
</div>
@section Scripts{
    <script src="~/js/User.js"></script>
}