@model int
<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">
            Order Placed Successfully
        </h1>
        Your order number is @Model
        <img src="https://www.shutterstock.com/image-vector/thank-you-letter-envelope-receiving-ordering-1975083572" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        YOur order has placed successfully.
    </div>
</div>